 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-1 .u-group-1 {
  width: 830px;
  min-height: 839px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 40px 60px 0;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0 324px;
}

.u-section-1 .u-form-1 {
  height: 684px;
  width: 679px;
  margin: 11px 24px 0 81px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    margin-right: 19px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
    margin-left: 169px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-top: 18px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-form-1 {
    width: 314px;
  }
}